// Variables
@dark:      #3c3c3c;
@light:     #f6f7bd;
@yellow:    #e6ac27;
@blue:      #80bca3;
@red:       #bf4d28;

@gridGutterWidth: 15px;

// End Variables


// Other Definitions

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.rotated (@degrees: -9) {
    transform: rotate(-8deg);
   -moz-transform: rotate(-8deg);
   -webkit-transform: rotate(-8deg); 
    
}

 // End Other Definitions


body { background-color: @dark; color: @light; }


.leftstripe { background-color: @blue; position: relative; z-index: 2; }
.sidebar { background-color: @yellow; position: relative; z-index: 1; }
.rightstripe { background-color: @red; position: relative; z-index: 2; }
.content { background-color: @dark; position: relative; z-index: 2;}

.leftstripe, .sidebar, .rightstripe, .content { height: 715px; }

.title {
    .rotated;
    background-color: @dark;
    color: @yellow;
    margin: 80px 0px 60px 0px;
   
    font-weight: bold;
    font-style: italic;
    padding-top: 1em;
    padding-bottom: .25em;
    width: 100%;
    padding-right: 10px;
    overflow: hidden;
    text-align: center;
    padding-left: 8px;
    z-index: -1;
    }
    
.title span {
    font-family: Myriad Pro, Vegur, Helvetica, Arial, sans serif;
    font-size: 3.5em;
    white-space: nowrap;
    }
    
.tagline {
    font-family: "Myriad Pro", Vegur, Tahoma, Helvetica, sans;
    color: @dark;
    font-size: 1.7em;
    margin: 0px 20px 0px 20px;
    line-height: 110%;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    text-justify: newspaper;
    }

.content {
    margin-top: 50px;    
    }
    
.navbox {
    .rounded-corners;
    margin-left: 15px;
    margin-right: 15px;
    background: @dark;
    color: @light;
    margin-top: 50px;
    text-align: center;
    font-family: "Myriad Pro", Vegur, Tahoma, Helvetica, sans;
    padding-top: 1em;
    padding-bottom: 1em; 
    }

.navbox a { text-decoration: none; color: @light; }
.navbox a:hover { color: @yellow; }

.navbox span { font-size: 2em; }

.navwrapper { text-align: center; }
.navimg { margin-bottom: 20px; }
.powerimg { margin-left: -4px; }

.footer {
    margin-left: 20px;
    margin-right: 20px;
    }

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px; 
    }

.footer span {
    color: @dark;
    font-family: "Myriad Pro", Vegur, Tahoma, Helvetica, sans;
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: top;
    white-space: nowrap;
    overflow: visible;
    }

.footer span img { margin-right: 5px; }
#fb { margin-left: 10px; }

.footer * { vertical-align: middle; }
.footer a { text-decoration: none; color: @dark; }
.footer a:hover { color: @light; }

h1, h2, h3 { color: @light;
    font-family: "Myriad Pro", Vegur, Tahoma, Helvetica, sans;
    }

.fancytitle { width: 400px; }